body{

    background-color: black;
    margin: 0;
}

nav{

    height: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

  .logo{
    width: 19.5vw;
  }

.h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2vw;
    color: white;
    margin-right: 2vw;
    padding-top: 5.3vw;
}

p{

    margin: 0;

}

.buttons{
  
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.button{

    margin-left: 2.7vw;
    height: 2.6vw;

}

.container{
  margin: auto;
  padding: 0;
  max-width: 66vw;
}

header{
    
    height: 48vw;
    
    
}

.image{
    width: 35vw;
    margin: auto;
    margin-top: 5.8vw;
    
}

hr{
    opacity: .99;
    background-color: #86C383;
    border-color: #86C383;
}

.underlogo_text{

    color: #FFFFFF;
    text-align: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2vw;
    max-width: 93vw;
    margin: auto;
    margin-top: 5.2vw;
    align-items: center;

}

.underlogo{
    width: 30vw;
    height: 0.2vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    background-color: #86C383;
}

.text2{
    color: #FFFFFF;
    text-align: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.7vw;
    max-width: 60vw;
    margin: auto;
    margin-top: 1.8vw;
}

.plus{
    color: #86C383;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2vw;
}

.bestsellers{
    color: #FFFFFF;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2vw;
    margin: 4vw 0 4vw 0;
    align-items: center;
    justify-content: space-between;
}


.besthr1{
    width: 27vw;
    height: 0.2vw;
    background-color: #86C383;
}

.besthr2{
    width: 20vw;
    height: 0.2vw;
}

.besthr3{
    width: 24vw;
    height: 0.2vw;
    background-color: #86C383;
}

.heats{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2vw;
    max-width: 70vw;
    align-items: center;
}

.heatselem{
    border-radius: 2.4vw;
    color: #FFFFFF;
    
    
}

.maincontent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8vw;

}
.maintexth1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2.5vw;
    color: #86C383;
    margin-bottom: 1vw;
}
.maintextcontent{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2.5vw;
    color: white;
}
.maintext{
    width: 35vw;
}
footer{
    height: 22.4vw;
    background-color: #3A3A3A;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10.6vw;
    flex-shrink: 0;
}
.footer_link{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.6vw;
}
.footer_content_1{
    display: flex;
    flex-direction: column;
    width: 64vw;
}
.footerlinks{
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 24.5vw;
}
.contacts{
    width: 34.7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6vw;

}

.footerlogo{
    width: 15vw;
}


.cont{
    font-size: 1.6vw;
    font-weight: 800;
    margin-right: 26vw;
}

.leaf{
    width: 1.2vw;
}

.adress{
    font-size: 1.6vw;
    margin-right: 2.8vw;
}

.footerimg{
    width: 3vw;
}

.footer_content_2{
    width: 38vw;
    color: white;
    font-size: 0.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-top: 2vw;
}



.footer_content_again{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1vw;
}

.slider_pr{
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    
}

.sliderelems{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 68vw;
    
}

.kartochka{ 
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(137, 43, 226, 0); 
    border: 0.25vw solid; 
    border-color: #86C383; 
    height: 29vw; 
    width: 20vw; 
    border-radius: 2vw; 
    color: white; 
    font-size: 1.5vw; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-evenly; 
} 
.pupa{ 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    
}



.old{
    text-decoration: line-through; 
    color: #86C383; 
    font-size: 1vw;
}
.slider_bottom{
    margin-top: 5vw;
    height: 0.1vw;
    background-color: #86C383;
    width: 66vw;
}
.slider_img{
    width: 17vw; 
}
.slide_price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ordrdlst{
    text-align: left;
    max-width: 66vw;
    margin-left: 2vw;
    margin-top: 0;
}
.container_slider{
    margin-top: 0;
    max-width: 66vw;
    margin-left: auto;
    margin-right: auto; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
    color: #FFFFFF;
}

.begining{
    max-width: 66vw;
    text-align: left;
    display: flex;
    align-items: center;
}

.advantages{
    max-width: 93vw;
    text-align: left;
    display: flex;
    align-items: center
}

.advel{
    max-width: 66vw;
    text-align: left;
}


.h2{
    color: #86C383;
    font-weight: 600;
    font-size: 2vw;
}

.plashka{
    display: flex;
    align-items: center;
    margin: 4vw 0 4vw 0;
    width: 66vw;
}

.cardlink{
    text-decoration: none;
}

a{
    text-decoration: none !important;

}


@media screen and (orientation: portrait) {
    .container{
        max-width: 93vw;
    }
  
    .container_slider{
        max-width: 93vw;
        font-size: 3vw;
    }

    .begining{
        max-width: 100vw;
    }

    .advel{
        max-width: 100vw;
    }

    .h2{
        font-size: 3.5vw;
    }
  
    .besthr{
        width: 33vw;
        height: 0.5vw;
    }
  
    .footer_content_1{
        width: 93vw;
    }
  
    .footer_content_again{
        margin: 0 3.5vw 0 4.5vw;
  
    }
  
    .footerlogo{
        width: 25vw;
    }
  
    .footer_link{
        font-size: 3vw;
    }
  
    .contacts{
        width: 64.7vw;
        justify-content: none;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        font-size: 3vw;
    }
  
    .leaf{
        display: none;
    }
  
    .adress{
        margin: 0;
        font-size: 3vw;
    }
  
    .cont{
        margin-right: 0;
        font-size: 3vw;
    }
  
    .footerlinks{
        margin-right: 0;
        width: 26vw;
    }
  
    .footerimg{
        width: 6vw;
    }
  
    .maintextcontent{
        width: 54vw;
    }
    
    .maintext{
        width: 56vw;
    }
  
    nav{
        height: 16vw;
    }
  
    .logo{
        width: 37vw;
    }
    
    .button{
        height: 5.6vw;
    }
  
    .image{
        width: 54vw;
    }
  
    .underlogo{
        display: none;
    }
  
    .underlogo_text{
       flex-flow: column; 
       font-size: 3vw;
    }
    
    header{
        height: 58vw;
    }
  
    .text2{
        font-size: 2.5vw;
        max-width: 83vw;
    }
  
    .bestsellers{
        font-size: 4vw;
    }
  
    .kartochka{
        border: 0.5vw solid;
        border-radius: 3.5vw;
        border-color: #86C383;
        height: 53.3vw;
        width: 44vw;
        font-size: 4vw;
    }
  
  .kartochka_slider{
    border: 0.5vw solid;
    border-radius: 3.5vw;
    border-color: #86C383;
    font-size: 3vw;
    width: 37vw;
    height: 46vw;
  }
  
  .sliderslide_img{
    width: 29vw;
  }
  
    .slider_img{
        
        width: 33vw;
    }
  
    .Zalupa{
        margin-right: 0.5vw;
  
    }
  
    .old{
        font-size: 2.5vw;
    }
  
    .old_cat{
      font-size: 2.5vw;
    }
  
    .slider_bottom{
        width: 86vw;
    }
  
    footer{
        height: 36.4vw;
        flex-shrink: 0;
    }
  
    main{
      display: block;
    }
  
    .sorting{
      width: 93vw;
      height: 50vw;
    }
  
    .sorting_category{
      font-size: 3vw;
    }
  
    .show{
      font-size: 3vw;
      width: 44.5vw;
      height: 5vw;
    }
  
    .show_more{
      font-size: 3vw;
      width: 44.5vw;
      height: 5vw;
      margin-top: 7vw;
    }
  
    .reset{
      font-size: 3vw;
      width: 44.5vw;
      height: 5vw;
    }
  
    .listbtn{
      width: 2.2vw;
    }
  
    .filter{
      width: 93vw;
      height: 8vw;
      font-size: 3vw;
      margin-top: 3vw;
    }
  
    .cards{
      width: 93vw;
      margin-top: 1vw;
    }
  
    .reyting{
      margin-bottom: 4vw;
    }
  
    .reviews{
      font-size: 2.5vw;
    }
  
    .markimg{
      width: 2.5vw;
    }
  
    .header_content{
      font-size: 4vw;
    }
  
    .h1{
        font-size: 4vw;
    }

    .besthr1{
        width: 36vw;
        height: 0.5vw;
    }

    .besthr2{
        width: 21vw;
        height: 0.5vw;
    }

    .ordrdlst{
        text-align: left;
        max-width: 91vw;
        margin-left: 2vw;
        margin-top: 0;
    }

    .besthr3{
        width: 28vw;
        height: 0.5vw;
    }

    .plashka{
        width: 93vw;
    }

  }